.thread-list {
    padding: .5em;
  }
  
  .thread-list:nth-child(odd){
    background-color: var(--white)
  }
  .with-like {
    display: flex;
    align-items: center;
    margin-left: 6px;
  }
  
  .thread-list:nth-child(even){
    background-color: var(--whitesmoke)
  }
  .thread-list a {
    font-weight: bold;
  }
  .thread-list-username {
    color: #282828;
    font-weight: bold;
    padding-left: .3em;
    padding-right: .3em;
  }
  .center {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    width: 30%;
  }
  .form {
    text-align: left;
    width: 100%;
  }
  
  .form .btn {
    width: 100%;
  }
  
  .form textarea {
    height: 80px;
  }
  
  .form input,
  .form textarea {
    border-radius: 5px;
    border: 1px solid var(--whitesmoke);
    color: black;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1rem;
    margin: .5em;
    outline: none;
    padding: 8px 10px;
    width: 100%;
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    border-color: var(--lightgray);
  }
  .page-link {
    cursor: pointer;
  }